
<div class="contact-container">
  <div class="contact-form col-sm-12 col-md-12 col-lg-7">
    <h1 class="title" translate>contact.contactUs</h1>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188.16812100986812!2d28.97315254909272!3d41.01015927461617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab99406b73637%3A0xe28389473b32e09d!2zSGFzIEfDvG3DvMWf!5e0!3m2!1str!2str!4v1637404254851!5m2!1str!2str"
        width="00"
        height="450"
        style="border: 0"
        allowfullscreen=""
      ></iframe>
    </div>
  </div>
  <div class="maps-form col-sm-12 col-md-12 col-lg-5">
    <div class="tel-social">
      <div class="tel col-sm-12 col-md-12 col-lg-12">
        <address>
          <h5 class="title" translate style="color: black">
            <i
              class="fas fa-envelope-square"
              style="font-size: 30px; color: black"
            ></i>
            contact.mail
          </h5>
          <p class="subtitle">
            <a href="mailto:info@hghasgumus.com" style="color: #9d8b54"
              >info@hghasgumus.com</a
            >
          </p>
          <h5 class="title" translate style="color: black">
            <i class="fas fa-phone-alt"></i> contact.phone
          </h5>
          <p class="subtitle">
            <a href="tel:0212 444 55 21" style="color: #9d8b54"
              >0212 444 55 21</a
            >
          </p>
        </address>
      </div>
    </div>
    <div class="address">
      <h5 class="map-text" translate style="color: black">
        <i class="fas fa-map-marker-alt"> </i> contact.address
      </h5>
      <a
        class="map-text"
        translate
        href="https://www.google.com/maps/place/Has+G%C3%BCm%C3%BC%C5%9F/@41.010186,28.9709793,17z/data=!3m2!4b1!5s0x14cab9940290b2a5:0xeaab53a44ac94fb5!4m5!3m4!1s0x14cab99406b73637:0xe28389473b32e09d!8m2!3d41.0101628!4d28.9731482?shorturl=1"
      >
        home.addressText
      </a>
    </div>
  </div>
</div>
