/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  
  
  /* Rules for using icons as black on a light background. */
  
  .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }
  
  
  /* Rules for using icons as white on a dark background. */
  
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }
  
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100vh;
    margin-bottom: -34px;
  }
  
  .carousel-item.carousel-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .owl-carousel {
    position: relative;
  }
  
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px; 
  }
  
  .owl-prev {
    left: 0;
  }
  
  .owl-next {
    right: 0;
  }
  
  .owl-theme .owl-nav [class*=owl-] {
    color: #FFFFFF;
    background: none;
  }
  
  .owl-theme .owl-nav [class*=owl-]:hover {
    background: #757575;
    color: #FFFFFF;
    text-decoration: none
  }
  
  .owl-theme .owl-dots .owl-dot span {
    background: #BDBDBD;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #757575
  }