body{
    background-color: rgb(233, 233, 233);
    height: 59rem;
}
.title{
    font-weight: bolder;
    text-align:left;
}
#paragraf{
    position: absolute;
    top:30%;
}
a{
    background-color: blanchedalmond;
}
a:hover{
    color: white;
    background-color: black;
}